body {
    font-family: 'Letter Gothic', serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #f4f4f4;
}

header, section, footer {
    width: 80%;
    margin: auto;
    padding: 20px;
    background: white;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #ccc;
    margin-top: 20px;
}

h1, h2 {
    color: #444;
}

a {
    color: #06c;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

li {
    padding: 5px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
}

@media (max-width: 600px) {
    header, section, footer {
        width: 90%;
        margin: 10px auto;
    }
}
